<aside>
<ul id="sidebar-nav"> 
<li><a href="#">İNSAN KAYNAKLARI</a>
<ul class="drop" style="display: block;">
     <li><a href="/yonetim/insankaynaklari"><img src="/Areas/Admin/Content/images/icons/16/page.png">İnsan Kaynakları</a></li>
     <li><a href="/yonetim/insankaynaklari/pozisyonlar"><img src="/Areas/Admin/Content/images/icons/16/page.png">Pozisyonlar</a></li>
     <li><a href="/yonetim/insankaynaklari/pozisyonekle"><img src="/Areas/Admin/Content/images/icons/16/page_add.png">Pozisyon Ekle</a></li>
</ul>
</li>
</ul>
<br /> <br /> 
      
</aside>




