
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/adminlayout.cshtml";
}

@Html.Partial("home_leftbar")
<div id="mid-col">
      
      	<div class="lbox">      
      		<h4 class="white">HIZLI MENÜ</h4>
        <div class="lbox-container">
		  		<ul id="quick-visual-links">
		  			<li><a href="#"><img src="/areas/admin/content/images/ql-settings.gif" alt="" /><br/>Settings</a></li>
		  			<li><a href="#"><img src="/areas/admin/content/images/ql-users.gif" alt="" /><br/>Users</a></li>
		  			<li><a href="#"><img src="/areas/admin/content/images/ql-messages.gif" alt="" /><br/>Messages</a></li>
		  			<li><a href="#"><img src="/areas/admin/content/images/ql-photos.gif" alt="" /><br/>Photos</a></li>
		  			<li><a href="#"><img src="/areas/admin/content/images/ql-media.gif" alt="" /><br/>Media</a></li>
		  			<li><a href="#"><img src="/areas/admin/content/images/ql-design.gif" alt="" /><br/>Design</a></li>
		  			<li><a href="#"><img src="/areas/admin/content/images/ql-options.gif" alt="" /><br/>Options</a></li>
		  			<li><a href="#"><img src="/areas/admin/content/images/ql-databases.gif" alt="" /><br/>Databases</a></li>
		  			<li><a href="#"><img src="/areas/admin/content/images/ql-paths.gif" alt="" /><br/>File Paths</a></li>   
		  		</ul>
                <span class="clearFix">&nbsp;</span> 
          </div>
      	</div><!-- end of div.box -->
</div>
      <div id="mid-col">
      
      	<div class="lbox">      
      		<h4 class="white">SON HAREKETLER</h4>
        <div class="lbox-container">
      		<form action="" method="post" class="middle-forms">
      			<h3>Form Title</h3>
      			<p>Please complete the form below. Mandatory fields marked <em>*</em></p>
      				
      				<span class="clearFix">&nbsp;</span>
      		</form>
        </div><!-- end of div.box-container -->
      	</div><!-- end of div.box -->
</div>
